%tr
  %td
    = service.first
  %td
    = service.last
  %td
    %a.btn.btn-primary(href="#" role="button") Start
    %a.btn.btn-default.disabled(href="#" role="button") Stop
    %a.btn.btn-default.disabled(href="#" role="button") Restart
